import * as S from './styles'

export type {{pascalCase name}}Props = {
  children?: React.ReactNode
}

export default function {{pascalCase name}}(props: {{pascalCase name}}Props) {
  return (
    <S.Wrapper>
      <h1>Button</h1>
    </S.Wrapper>
  )
}
